{% extends 'base.html.twig' %}

{% block body %}
    {% for card in cards %}
        {{ card|raw }}
        <span class="thin-split"></span>
        <span class="thin-split"></span>
    {% endfor %}
{% endblock %}
