<div class="card article-photo">
    <div class="header">Flickr</div>
    <div class="content">
        <img src="{{ image_url }}" />
    </div>
</div>

<style>
    .article-photo .header {
        text-transform: uppercase;
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 400;
        text-align: center;
    }

    .article-photo img {
        width: 100%;
    }
</style>
