<div class="card instagram">
    <div class="header">Instagram</div>
    <div class="content">
        <img src="{{ image_url }}" />
        <h2>{{ user }} - {{ likes }} ♥︎</h2>
        <p>{{ comment }}</p>
    </div>
</div>
