<div class="card article-photo">
    <div class="header">Flickr</div>
    <div class="content">
        <img src="{{ image_url }}" />
        <h2>{{ title }} {{ views }} views</h2>
    </div>
</div>
<span class="thin-split"></span>
<span class="thin-split"></span>

<style>
    .article-photo img {
        width: 100%;
    }
</style>
