<div class="card quote">
    <div class="quote-text">"{{ quote.quoteText }}"</div>
    <div class="quote-author">{{ quote.quoteAuthor }}</div>
</div>
<style>
    .quote-text {
        margin: 20px 50px 5px 50px;
        font-style: italic;
        font-weight: 100;
    }

    .quote-author {
        text-align: right;
        margin-right: 50px;
        font-weight: bold;
        margin-bottom: 20px;
    }

</style>
